<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sitename }}</title>
</head>
<body>
    <nav>
         <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('about') }}">Sobre</a>
    </nav>
    <h2> Sobre</h2>

    <h4>Sobre o site</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolores eius aspernatur dolor iusto aut pariatur, accusantium, amet deleniti aliquid ullam, quidem explicabo magni ipsum. Repudiandae, placeat eum. Laboriosam, eveniet.</p>

    <h4> Sobre o autor</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit esse fugiat veritatis facere, quibusdam modi vero temporibus accusantium corrupti maxime eos sunt. Facilis eveniet, provident nulla distinctio error nihil culpa!</p>

    <h4>Politicas de privacidade</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur asperiores officia sed quos harum reprehenderit magnam quisquam beatae expedita nisi accusamus, tempora magni excepturi odit quia? Quasi magnam mollitia sapiente!</p>


</body>
</html>