<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sitename }}</title>
</head>
<body>
     <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('about') }}">Sobre</a>
    </nav>

    <h2>Pagina Inicial</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolores eius aspernatur dolor iusto aut pariatur, accusantium, amet deleniti aliquid ullam, quidem explicabo magni ipsum. Repudiandae, placeat eum. Laboriosam, eveniet.</p>
</body>
</html>